body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: rgb(50, 143, 205);
}

table {
  text-align: left;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
}

.info {
  font-weight: bold;
}

nav {
  text-align: right;
  border: 20px;
}

.topnav {
  overflow: hidden;
  background-color: rgb(12, 141, 55);
  width: 100%;
  position: fixed;        
  padding: 10px 0;
  color: #fff;
}